name: Delete-Service CI/CD

on:
  push:
    branches:
      - main
      - develop
    tags:
      - "v*.*.*"
    paths-ignore:
      - "**.md"
      - "infra/**"
      - "assets/**"

  pull_request:
    branches:
      - main
    paths:
      - "delete-service/**"

jobs:
  pipeline:
    uses: ./.github/workflows/reusable-service-pipeline.yml
    secrets: inherit
    with:
      service-name: delete
