name: Reusable Tests

on:
  workflow_call:
    inputs:
      working-directory:
        required: true
        type: string

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: tip

      - name: Install dependencies
        run: |
          set -e
          cd ${{ inputs.working-directory }}
          go mod tidy

      - name: Run unit & integration tests
        run: |
          set -e
          cd ${{ inputs.working-directory }}
          go test ./... -v
