name: Reusable Tests

on:
  workflow_call:
    inputs:
      working-directory:
        required: true
        type: string

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Restore Go modules cache
        uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: go-${{ hashFiles('${{ inputs.working-directory }}/go.sum') }}
          restore-keys: go-

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'

      - name: Install dependencies
        run: |
          set -e
          cd ${{ inputs.working-directory }}
          go mod tidy

      - name: Run unit & integration tests + Coverage
        run: |
          set -e
          cd ${{ inputs.working-directory }}
          go test ./... -v -coverprofile=coverage.out

      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-${{ inputs.working-directory }}
          path: ${{ inputs.working-directory }}/coverage.out
