name: Reusable Service CI/CD Pipeline

on:
  workflow_call:
    inputs:
      service-name:
        required: true
        type: string
        description: "Name of the service (e.g., create, read, update, delete)"

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      run_ci: ${{ steps.flags.outputs.run_ci }}
    steps:
      - id: flags
        run: |
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            echo "run_ci=false" >> $GITHUB_OUTPUT
          else
            echo "run_ci=true" >> $GITHUB_OUTPUT
          fi

  tests:
    needs: prepare
    if: needs.prepare.outputs.run_ci == 'true'
    uses: ./.github/workflows/reusable-tests.yml
    with:
      working-directory: ${{ inputs.service-name }}-service

  docker:
    needs: tests
    if: needs.prepare.outputs.run_ci == 'true'
    uses: ./.github/workflows/reusable-docker.yml
    secrets: inherit
    with:
      context: ${{ inputs.service-name }}-service
      dockerfile: ${{ inputs.service-name }}-service/Dockerfile
      image-name: ${{ inputs.service-name }}-beer-microservice

  release:
    needs: prepare
    if: |
      needs.prepare.outputs.run_ci == 'false' &&
      startsWith(github.ref, 'refs/tags/v')
    uses: ./.github/workflows/reusable-release.yml
