name: Reusable Tests

on:
  workflow_call:
    inputs:
      working-directory:
        required: true
        type: string

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.26"

      - name: Install dependencies
        run: go mod tidy
        working-directory: ${{ inputs.working-directory }}

      - name: Run unit & integration tests
        run: go test ./... -v
        working-directory: ${{ inputs.working-directory }}
